{% load static %}

<!DOCTYPE html>
<html>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:wght@300&display=swap" rel="stylesheet">

<head>

  <meta charset="utf-8">
  <title>Tuts+ Chat Application</title>
  <meta name="description" content="Tuts+ Chat Application" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Water Movement</title>

  <link href="{% static 'css/chat_blog.css' %}" rel="stylesheet" type="text/css" />

  <link rel = "icon" href = "{% static 'icons/favicon.ico' %}"
        type = "image/x-icon">

</head>

<body>

  <header>
    <nav>
      <ul>
        <li>
          <a href="/wmove"> 
            <div class = "icon"></div>
            <i class="fa fa-home" aria-hidden="true"></i>
            <div class = "name" data-text="Home">Home</div>
          </a>
        </li>

        <li>
            <a href="video.html"> 
              <div class = "icon"></div>
              <i class="fa fa-video-camera" aria-hidden="true"></i>
              <div class = "name" data-text="Videos">Videos</div>
            </a>
          </li>
  
          <li>
            <a href="/chat"> 
              <div class = "icon"></div>
              <i class="fa fa-users" aria-hidden="true"></i>
              <div class = "name" data-text="Discussion Forum">Discussion Forum</div>
            </a>
          </li>
  
          <li>
            <a href="events.html"> 
              <div class = "icon"></div>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <div class = "name" data-text="Events">Events</div>
            </a>
          </li>
  
          <li>
            <a href="youth_leaders.html"> 
              <div class = "icon"></div>
              <i class="fa fa-child" aria-hidden="true"></i>
              <div class = "name" data-text="Youth Leaders">Youth Leaders</div>
            </a>
          </li>
  
          <li>
            <a href="#contactTitle"> 
              <div class = "icon"></div>
              <i class="fa fa-tint" aria-hidden="true"></i>
              <div class = "name" data-text="About">About</div>
            </a>
          </li>
  
          <li>
            <a href="#randomTitle"> 
              <div class = "icon"></div>
              <i class="fa fa-comments" aria-hidden="true"></i>
              <div class = "name" data-text="Messages">Messages</div>
            </a>
          </li>
  
          <li>
            <a href="/personal/login"> 
              <div class = "icon"></div>
              <i class="fa fa-user" aria-hidden="true"></i>
              <div class = "name" data-text="Login">Login</div>
            </a>
          </li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="home" id="top">
      <p><span id="big">Water Movement</span></p>
      <p></p>
    </div>
  </main>
  
  <div id="wrapper">
    <div id="menu">
        <p class="welcome">Welcome, <b></b></p>
        <p class="logout"><a id="exit" href="#">Exit Chat</a></p>
    </div>

    <textarea id="chat-log" cols="83" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
 

<footer class="footer">
    <h2>Social Media</h2>
    <ul class = "container2">
          <li>
            <div class = "icon"></div>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            <a href="https://www.linkedin.com/company/watermovementyyc/"> LinkedIn</a>
          </li>

          <li>
            <div class = "icon"></div>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <a href="https://www.facebook.com/watermovementyyc/"> Facebook</a>
          </li>
          
          <li>
            <div class = "icon"></div>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <a href="https://www.instagram.com/watermovementyyc/?hl=en"> Instagram</a>
          </li>
          
          <li>
            <div class = "icon"></div>
            <i class="fa fa-youtube-square" aria-hidden="true"></i>
            <a href="https://www.youtube.com/channel/UCDPWJYkE6ujfkdKaJbamPDw"> Youtube</a>
          </li>

          <li>
            <div class = "icon"></div>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="watermovementyyc@gmail.com"> Email</a>
          </li>

          <li> 
              <div class = "icon"></div>
              <i class="fa fa-address-book" aria-hidden="true"></i>
              <a href="team.html"> Our Team</a>
            </a>
          </li>

        </ul>
  </footer>

</body>

</html>
