{% load static %}

<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Water Movement</title>

  <link href="{%static 'css/landing.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>

  <header>
    <nav>
      <ul>
        <li><a href="/water_movement"> Home</a></li>
        <li><a href="/water_movement/chat"> Chat and collaborate</a></li>
        <li><a href="video"> Videos</a></li>
        <li><a href="blog" >Blog/Share your experience</a></li>
        <li><a href="events" >Upcoming Events</a></li>
        <li><a href="youth_leaders">Next Youth Leaders</a></li>
        <li><a href="#contactTitle">About</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="homescreen" id="top">
      <p><span id="big">Water Movement</span></p>
      <p></p>
    </div>
  </main>
  
  <style>
  
  </style>
  
  <div id="map"></div>
<footer class="footer">
  <h3 id="contactTitle">Contact Us</h3>
  <div class="contactBlock">
    <li class="contactinfo">
      <ul>Team water</ul>
      <ul>email id @ email.com</ul>
    </li>
  </div>
</footer>

</body>

</html>
