html, body, main, header, footer{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Montserrat', sans-serif;
    font-weight: 00;
	color: white;
	scroll-behavior: smooth;
	box-sizing: border-box;

}

ul{
	position: absolute;
	margin: 0%;
	left: 9%;
	display: flex;
	border-radius: 50px;
}

ul li{
	list-style: none;
	text-size-adjust: auto;
	text-align: center;
	display: block;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

a {
	text-decoration: none;
	color: black;
}

header a:active{
	color:white;
}


.home{
	background-image: url(../images/canada_lake.jpg);
	background-position: center;
	width: 100%;
	margin: 0;
	background-size: cover;
	height:calc(100vh - 1em);
	overflow:hidden;
	line-height:calc(100vh - 3em);
	text-align:center;
}

#big{
	font-size:8em;
}


header {
	background-color: black;
	position: fixed;
	width: 100%;
	text-align: center;
}

nav {
	padding:0em;
	margin: 0em;
	overflow:hidden;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(194, 220, 255, 0.4);
}

nav li {
	display: inline-block;
	align-items:center;
}
li a{
	display: inline-block;
	color: rgb(1, 21, 77);
	padding: 14px 30px;
	text-decoration: none;
	line-height:2em;
	font-weight: 1000;
	letter-spacing: 0.5px;
	align-self: center;
}
li a:hover{
	background-color:rgb(157, 248, 241);
}

* {
    margin: 0;
    padding: 0;
  }
   
  body {
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
   
  form {
    padding: 15px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
   
  form label {
    font-size: 1.5rem;
    font-weight: bold;
  }
   
  input {
    font-family: "Lato";
  }
   
  a {
    color: #6d97e6;
    text-decoration: none;
  }
   
  a:hover {
    text-decoration: underline;
  }
   
  #wrapper,
  #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #eee;
    width: 600px;
    max-width: 100%;
    border: 2px solid #212121;
    border-radius: 4px;
  }
   
  #loginform {
    padding-top: 18px;
    text-align: center;
  }
   
  #loginform p {
    padding: 15px 25px;
    font-size: 1.4rem;
    font-weight: bold;
  }
   
  #chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 300px;
    width: 530px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
  }
   
  #usermsg {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #2f3994;
  }
   
  #name {
    border-radius: 4px;
    border: 1px solid rgb(0, 88, 143);
    padding: 2px 8px;
  }
   
  #submitmsg,
  #enter{
    background: rgb(0, 88, 143);
    border: 2px solid rgb(0, 88, 143);
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
  }
   
  .error {
    color: #ff0000;
  }
   
  #menu {
    padding: 15px 25px;
    display: flex;
  }
   
  #menu p.welcome {
    flex: 1;
  }
   
  a#exit {
    color: white;
    background: rgb(0, 88, 143);
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
  }
   
  .msgln {
    margin: 0 0 5px 0;
  }
   
  .msgln span.left-info {
    color: rgb(0, 88, 143);
  }
   
  .msgln span.chat-time {
    color: #666;
    font-size: 60%;
    vertical-align: super;
  }
   
  .msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: #546e7a;
    color: white;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
   
  .msgln b.user-name-left {
    background: orangered;
  }
.container3{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	min-height: 65vh;
	background: rgb(9, 143, 226);
	width: 100%;
}

.container3 .mission h2{
    width: 100%;
	color: rgb(255, 255, 255);
	font-weight: 600;
	font-size: 100px;
	text-align: center;
	
}

.container3 .info {
    width: 100%;
	color: rgb(255, 255, 255);
	font-weight: 300;
	font-size: 100px;
	text-align: center;
	
}

.container3 .info > h2{
	margin-top: 2em ;
    font-size: 3rem;
}

.container3 .info > p {
    font-size: 1.5rem;
}


.container4{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 65vh;
	background: rgb(5, 113, 180);
	width: 100%;
}

.container4 h2{
	width: 100%;
	color: rgb(255, 255, 255);
	font-size: 36px;
	text-align: center;
	margin-bottom: auto;
}

.container4 .row100{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(autofit,minmax(300px,1fr));
}

.container4 .row100 .col{
	position: relative;
	width: 100%;
	padding: 0 10px;
	margin: 30px 0 10px;
	transition: 0.5s;
}

.container4 .row100 .inputbox{
	position: relative;
	width: 100%;
	height: 40px;
	color: white;
}

.container4 .row100 .inputbox .textarea{
	position: relative;
	width: 100%;
	height: 100px;
	padding: 10px 0;
}

.container4 .row100 .inputbox .textarea textarea{
	position: relative;
	resize: none;
	width: 100%;
	height: 100%;
}

.container4 .row100 .inputbox .textarea textarea, .container4 .row100 .input{
	position: relative;
	width: 100%;
	height: 100%;
	color: white;
	background: transparent;
	font-size: 20px;
	outline: none;
	z-index: 1;
}

input[type = "submit"]
{
	border: none;
	padding: 10px 35px;
	cursor: pointer;
	outline: none;
	background: rgb(87, 182, 241);
	color: white;
	font-size: 20px;
	border-radius: 2px;
}

.footer{
	position: relative;
	height: 200px;
	width: 100%;
	padding-top: 1%;
	background-color: rgb(0, 88, 143);
}

.footer .container2{
	position: relative;
	display: flex;
	flex-direction:row;
	left: 14%;
}	

.footer .container2 ul{
	position: absolute;
	margin: 0%;
	display: flex;

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(194, 220, 255, 0.4);
}

.footer .container2 li{
	list-style: none;
	border-right: none;
}

.footer .container2 li a{
	display: inline-block;
	color: rgb(255, 255, 255);
	padding: 10px 30px;
	text-decoration: none;
	line-height:3em;
	font-weight: 1000;
	letter-spacing: 0.5px;
	align-self: center;
}

h2{
	color: white;
	font-size: 20px;
	text-align: center;
	margin: auto auto 2% auto;
	width: 10%;
	padding: 1%;
	border: 2px;

}

