<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Water Movement</title>

  <link href="../static/home.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <header>
    <nav>
      <ul>
        <li><a href="home.html"> Home</a></li>
        <li><a href="chat.html"> Chat and collaborate</a></li>
        <!-- <a href="greetnf.html"><button>NEXT</button></a> --> 
        <li><a href="#Hotels" class="Hotels" >Videos</a></li>
        <li><a href="#Attractions" class="Attractions">Blog/Share your experience</a></li>
        <li><a href="#Events" class="Events">Upcoming Events</a></li>
        <li><a href="#Restaurants" class="Restaurants">Next Youth Leaders</a></li>
        <li><a href="#contactTitle">About</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="homescreen" id="top">
      <p><span id="big">Water Movement</span></p>
      <p></p>
    </div>
    <!-- <div class="explore">
      <a href="#Hotels">Explore now!</a>
    </div> -->
    <div class="categories">
      <div class="category" id="Chat">Hotels</div>
      
      <form action="https://google.com">
        <input type="submit" value="Go to Google" />
      </form>

      <label class="container">Ritz-Carlton Hotel
        <input  type="checkbox" id = "ritzCarlto" onclick="myFunction(this.id,'text1')">
        <p id="text1" style="display:none">Known as the Grande Dame of Sherbrooke Street, Ritz-Carlton Montreal has been setting the bar for luxury hotels in Montreal since 1912. Today, the property continues its reign following a $200-million transformation. From the rooftop pool and full-service Spa St. James, to the romantic cuisine at Maison Boulud and legendary Afternoon Tea at Palm Court, the Ritz-Carlton Montreal invites you to see what luxury looks like</p>
        <span class="checkmark"></span>
      </label>

      
      <div class="category" id="Attractions">Attractions</div>
      <label for="laRonde" class="container">La Ronde
        <input id="laRonde" type="checkbox">
        <span class="checkmark"></span>
      </label>
      

      <div class="category" id="Events">Events</div>
      <label for = "glowParty" class="container">Montreal Glow Party 2019
        <input id="glowParty" type="checkbox">
        <span class="checkmark"></span>
      </label>
      
      <div class="category" id="Restaurants">Restaurants</div>
      
      <label for="orangeJulep" class="container">Orange Julep
        <input id="orangeJulep" type="checkbox">
        <span class="checkmark"></span>
      </label>
    
    </div>
  </main>
  
  <style>
  
  </style>
  
  <div id="map"></div>
<footer class="footer">
  <h3 id="contactTitle">Contact Us</h3>
  <div class="contactBlock">
    <li class="contactinfo">
      <ul>Team water</ul>
      <ul>email id @ email.com</ul>
    </li>
  </div>
</footer>

</body>

</html>
