<!DOCTYPE html>
<html>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:wght@300&display=swap" rel="stylesheet">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Water Movement</title>

  <link href="../static/home.css" rel="stylesheet" type="text/css" />

  <link rel = "icon" href = "../images/icons/favicon.ico" 
        type = "image/x-icon">

</head>

<body>

  <header>
    <nav>
      <ul>
        <li>
          <a href="home.html"> 
            <div class = "icon"></div>
            <i class="fa fa-home" aria-hidden="true"></i>
            <div class = "name" data-text="Home">Home</div>
          </a>
        </li>

        <li>
          <a href="video.html"> 
            <div class = "icon"></div>
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <div class = "name" data-text="Videos">Videos</div>
          </a>
        </li>

        <li>
          <a href="blog.html"> 
            <div class = "icon"></div>
            <i class="fa fa-users" aria-hidden="true"></i>
            <div class = "name" data-text="Discussion Forum">Discussion Forum</div>
          </a>
        </li>

        <li>
          <a href="events.html"> 
            <div class = "icon"></div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div class = "name" data-text="Events">Events</div>
          </a>
        </li>

        <li>
          <a href="youth_leaders.html"> 
            <div class = "icon"></div>
            <i class="fa fa-child" aria-hidden="true"></i>
            <div class = "name" data-text="Youth Leaders">Youth Leaders</div>
          </a>
        </li>

        <li>
          <a href="#contactTitle"> 
            <div class = "icon"></div>
            <i class="fa fa-tint" aria-hidden="true"></i>
            <div class = "name" data-text="About">About</div>
          </a>
        </li>

        <li>
          <a href="messaging.html"> 
            <div class = "icon"></div>
            <i class="fa fa-comments" aria-hidden="true"></i>
            <div class = "name" data-text="Messages">Messages</div>
          </a>
        </li>

        <li>
          <a href="login.html"> 
            <div class = "icon"></div>
            <i class="fa fa-user" aria-hidden="true"></i>
            <div class = "name" data-text="Login">Login</div>
          </a>
        </li>

      </ul>
    </nav>
  </header>

  <main>
    <div class="home" id="top">
      <p><span id="big">Water Movement</span></p>
      <p></p>
    </div>
  </main>

  <div class="container3">
    <article class="mission">
      <article class="info">
          <h2>Our Mission</h2>
          <p>To bridge the connection between Indigenous Water Operators.</p>
      </article>
      <article class="info">
          <h2>Our Vision</h2>
          <p>To provide a collaborative online space where Indigenous Water Operators can connect, share lessons learned and access training videos. </p>
      </article>
      <article class="info">
          <h2>Who we are</h2>
          <p>Water Movement is a non-for-profit venture under Engineers without Borders Calgary Professional Chapter. Our team of volunteers includes a unique mix of Industry Professionals and University Students.</p>
      </article>
      <article class="info">
        <h2>Values</h2>
        <p>Our core values are collaboration, sustainability and reliability.</p>
    </article>

    </article>
  </div>

  <div class="container4">
    <h2>Contact us</h2>
      <div class="row100">
        <div class="col">
          <div class="inputbox">
            <input type="text" name="" required="">
            <span class="text">First Name</span>
            <span class="line"></span> 
          </div>
        </div>

        <div class="col">
          <div class="inputbox">
            <input type="text" name="" required="">
            <span class="text">Last Name</span>
            <span class="line"></span> 
          </div>
        </div>

        <div class="col">
          <div class="inputbox">
            <input type="text" name="" required="">
            <span class="text">Email address</span>
            <span class="line"></span> 
          </div>
        </div>

        <div class="col">
          <div class="inputbox">
            <input type="text" name="" required="">
            <span class="text">Subject</span>
            <span class="line"></span> 
          </div>
        </div>
      </div>

      <div class="row100">
        <div class="col">
          <div class="inputbox textarea">
            <textarea required="required"></textarea>
            <span class="text">Leave us a message</span>
            <span class="line"></span> 
          </div>
        </div>
      </div>

      <div class="row100">
        <div class="col">
          <input type="submit" value="send">
        </div>
      </div>

  </div>
  
  <style>
  </style>


<footer class="footer">
  <h2>Social Media</h2>
  <ul class = "container2">
        <li>
          <div class = "icon"></div>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          <a href="https://www.linkedin.com/company/watermovementyyc/"> LinkedIn</a>
        </li>

        <li>
          <div class = "icon"></div>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <a href="https://www.facebook.com/watermovementyyc/"> Facebook</a>
        </li>
        
        <li>
          <div class = "icon"></div>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <a href="https://www.instagram.com/watermovementyyc/?hl=en"> Instagram</a>
        </li>
        
        <li>
          <div class = "icon"></div>
          <i class="fa fa-youtube-square" aria-hidden="true"></i>
          <a href="https://www.youtube.com/channel/UCDPWJYkE6ujfkdKaJbamPDw"> Youtube</a>
        </li>

        <li>
          <div class = "icon"></div>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="watermovementyyc@gmail.com"> Email</a>
        </li>

        <li> 
            <div class = "icon"></div>
            <i class="fa fa-address-book" aria-hidden="true"></i>
            <a href="watermovementyyc@gmail.com"> Our Team</a>
          </a>
        </li>

      </ul>
</footer>

</body>

</html>
