<!DOCTYPE html>
<html>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:wght@300&display=swap" rel="stylesheet">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Water Movement</title>

  <link href="../static/team.css" rel="stylesheet" type="text/css" />

  <link rel = "icon" href = "../images/icons/favicon.ico" 
        type = "image/x-icon">

</head>


<body>
  
  <header>
    <nav>
      <ul>
        <li>
          <a href="home.html"> 
            <div class = "icon"></div>
            <i class="fa fa-home" aria-hidden="true"></i>
            <div class = "name" data-text="Home">Home</div>
          </a>
        </li>

        <li>
          <a href="video.html"> 
            <div class = "icon"></div>
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <div class = "name" data-text="Videos">Videos</div>
          </a>
        </li>

        <li>
          <a href="chat_blog.html"> 
            <div class = "icon"></div>
            <i class="fa fa-users" aria-hidden="true"></i>
            <div class = "name" data-text="Discussion Forum">Discussion Forum</div>
          </a>
        </li>

        <li>
          <a href="events.html"> 
            <div class = "icon"></div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div class = "name" data-text="Events">Events</div>
          </a>
        </li>

        <li>
          <a href="youth_leaders.html"> 
            <div class = "icon"></div>
            <i class="fa fa-child" aria-hidden="true"></i>
            <div class = "name" data-text="Youth Leaders">Youth Leaders</div>
          </a>
        </li>

        <li>
          <a href="#contactTitle"> 
            <div class = "icon"></div>
            <i class="fa fa-tint" aria-hidden="true"></i>
            <div class = "name" data-text="About">About</div>
          </a>
        </li>

        <li>
          <a href="messaging.html"> 
            <div class = "icon"></div>
            <i class="fa fa-comments" aria-hidden="true"></i>
            <div class = "name" data-text="Messages">Messages</div>
          </a>
        </li>

        <li>
          <a href="login.html"> 
            <div class = "icon"></div>
            <i class="fa fa-user" aria-hidden="true"></i>
            <div class = "name" data-text="Login">Login</div>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="home" id="top">
      <p><span id="big">Water Movement</span></p>
      <p></p>
    </div>
  </main>

  <div class="wrapper">
    <h1>Our Team</h1>
    <div class="team">
      
      <div class="team_member">
        <div class="team_img">
          <img src="../images/atharv.jpg">
        </div>
        <div class = "icon"></div>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <a href="https://www.linkedin.com/in/atharva-naik-8040a8188/">Atharva Naik</a>
        <p class="role">Back End developer</p>
        <p>Co founder at Quicklytes. 2nd year Electrical Engineer at the University of Calgary. Aspiring engineer who looks to make a difference in the world by bringing his innovative ideas to life.</p>
      </div>

      <div class="team_member">
        <div class="team_img">
          <img src="">
        </div>
        <div class = "icon"></div>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <a href="https://www.linkedin.com/in/ruhelarishabh/">Rishabh Ruhela</a>
        <p class="role">Back End developer</p>
        <p>2nd year Electrical Engineer at the University of Calgary. Aspiring engineer who looks to make a difference in the world by bringing his innovative ideas to life.</p>
      </div>

      <div class="team_member">
        <div class="team_img">
          <img src="">
        </div>
        <div class = "icon"></div>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <a href="https://www.linkedin.com/in/ruhelarishabh/">Sarthak</a>
        <p class="role">Back End developer</p>
        <p>2nd year Electrical Engineer at the University of Calgary. Aspiring engineer who looks to make a difference in the world by bringing his innovative ideas to life.</p>
      </div>

      <div class="team_member">
        <div class="team_img">
          <img src="../images/subu.jpg">
        </div>
        <div class = "icon"></div>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <a href="https://www.linkedin.com/in/subramanian-narayanan9"> Subramanian Narayanan</a> 
        <p class="role">Front End developer</p>
        <p>Hi ! I am a 3rd year Electrical engineering student with a Digital Minor at University of Calgary and my passion is to solve engineering problems through mahcine learning.</p>
      </div>

    </div>
  </div>	

  <footer class="footer">
    <h2>Social Media</h2>
    <ul class = "container2">
          <li>
            <div class = "icon"></div>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            <a href="https://www.linkedin.com/company/watermovementyyc/"> LinkedIn</a>
          </li>

          <li>
            <div class = "icon"></div>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <a href="https://www.facebook.com/watermovementyyc/"> Facebook</a>
          </li>
          
          <li>
            <div class = "icon"></div>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <a href="https://www.instagram.com/watermovementyyc/?hl=en"> Instagram</a>
          </li>
          
          <li>
            <div class = "icon"></div>
            <i class="fa fa-youtube-square" aria-hidden="true"></i>
            <a href="https://www.youtube.com/channel/UCDPWJYkE6ujfkdKaJbamPDw"> Youtube</a>
          </li>

          <li>
            <div class = "icon"></div>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="watermovementyyc@gmail.com"> Email</a>
          </li>

          <li> 
              <div class = "icon"></div>
              <i class="fa fa-address-book" aria-hidden="true"></i>
              <a href="team.html"> Our Team</a>
            </a>
          </li>
    </ul>
  </footer>

</body>

</html>
