{% load static %}

<!DOCTYPE html>
<html>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:wght@300&display=swap" rel="stylesheet">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Water Movement</title>

  <link href="../static/home.css" rel="stylesheet" type="text/css" />

  <link rel = "icon" href = "../images/icons/favicon.ico" 
        type = "image/x-icon">

</head>

<body>

  <header>
    <nav>
      <ul>
        <li>
          <a href="home.html"> 
            <div class = "icon"></div>
            <i class="fa fa-home" aria-hidden="true"></i>
            <div class = "name" data-text="Home">Home</div>
          </a>
        </li>

        <li>
          <a href="video.html"> 
            <div class = "icon"></div>
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            <div class = "name" data-text="Videos">Videos</div>
          </a>
        </li>

        <li>
          <a href="blog.html"> 
            <div class = "icon"></div>
            <i class="fa fa-users" aria-hidden="true"></i>
            <div class = "name" data-text="Discussion Forum">Discussion Forum</div>
          </a>
        </li>

        <li>
          <a href="events.html"> 
            <div class = "icon"></div>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div class = "name" data-text="Events">Events</div>
          </a>
        </li>

        <li>
          <a href="youth_leaders.html"> 
            <div class = "icon"></div>
            <i class="fa fa-child" aria-hidden="true"></i>
            <div class = "name" data-text="Youth Leaders">Youth Leaders</div>
          </a>
        </li>

        <li>
          <a href="#contactTitle"> 
            <div class = "icon"></div>
            <i class="fa fa-tint" aria-hidden="true"></i>
            <div class = "name" data-text="About">About</div>
          </a>
        </li>

        <li>
          <a href="messaging.html"> 
            <div class = "icon"></div>
            <i class="fa fa-comments" aria-hidden="true"></i>
            <div class = "name" data-text="Messages">Messages</div>
          </a>
        </li>

        <li>
          <a href="login.html"> 
            <div class = "icon"></div>
            <i class="fa fa-user" aria-hidden="true"></i>
            <div class = "name" data-text="Login">Login</div>
          </a>
        </li>

      </ul>
    </nav>
  </header>

  <main>
    <div class="home" id="top">
      <p><span id="big">Water Movement</span></p>
      <p></p>
    </div>

    <article class="forecast">
      <h1>Weather forecast for Seattle</h1>
      <h2> Log In </h2>
      <form class="site-form" action="/accounts/login/" method="post">
          {% csrf_token %} 
          {{form}}
          <input type="submit" value="Login">
      </form>
      <article class="day-forecast">
          <h2>03 March 2018</h2>
          <p>Rain.</p>
      </article>
      <article class="day-forecast">
          <h2>04 March 2018</h2>
          <p>Periods of rain.</p>
      </article>
      <article class="day-forecast">
          <h2>05 March 2018</h2>
          <p>Heavy rain.</p>
      </article>
  </article>
  

  </main>
  
  <style>
  
  </style>
  
  <div id="map"></div>
<footer class="footer">
  <h3 id="contactTitle">Contact Us</h3>
  <div class="contactBlock">
    <li class="contactinfo">
      <ul>Team water</ul>
      <ul>email id @ email.com</ul>
    </li>
  </div>
</footer>

</body>

</html>